/* 標籤名稱選擇器*/
body{background: linear-gradient(19deg, #00c3ff, #ffff1c)
}
/* id選擇器*/
#title{padding-left:10px;
       padding-top:0px;
       padding-bottom:10px;
       color:black;
       display:flex
       }
/* class選擇器*/
.content{
    text-decoration:underline;
    }
.keyword{
    color:black;}

img{
    max-width: 100%;
    height:auto
}

.s1{color:black;
    padding:5px;
    margin-top:20px;
    display:flex ;}

.s1-1{
    width:195px;
    flex:auto;
    justify-content:flex-start;
    align-items:flex-start
}

.s1-2{
    width:195px;
    flex:auto;
    justify-content: center;
    align-items: center;/*垂直對其*/
}

.s1-3{
       width:195px;
       flex:auto;
       justify-content:flex-end;
       align-items: flex-end;
}


@media (max-width:1250px){
    .s1-1{
        width: 195px;;
        flex:auto;
        justify-content:flex-start;
        align-items:flex-start
    }
    
    .s1-2{
        width:195px;
        flex:auto;
        justify-content: center;
        align-items: center;/*垂直對其*/
    }
    
    .s1-3{
           width:195px;
           flex:auto;
           justify-content:flex-end;
           align-items: flex-end;
    }

}

@media(max-width:500px){
    .p{
        flex-wrap: wrap;
    }

    .p1{
        width:auto; height:auto
    }

    .content{
        font-size:20px;
    }

    .keyword{
        font-size:20px;
    }
    .s1{
        flex-wrap: wrap;
    }
    .s1-1{
        width:75%;
        flex:auto;
        justify-content:flex-start;
        align-items:flex-start
    }
    
    .s1-2{
        width:75%;
        flex:auto;
        justify-content: center;
        align-items: center;/*垂直對其*/
    }
    
    .s1-3{
           width:75%;
           flex:auto;
           justify-content:flex-end;
           align-items: flex-end;
    }

    .desktop-menu{
        display:none;
    }

    .mobile{
        display:block;
    }
}

.typewriter-text {
    display: inline-block; /* 将文本作为块元素处理 */
    overflow: hidden; /* 隐藏文本 */
    animation: typing 10s steps(100, end) forwards; /* 打字动画 */
  }
  
  /* 打字动画 */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  .multiline-text {
    opacity: 0; /* 初始不可见 */
    animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
  }
  
  /* 渐变动画 */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px); /* 向下移动20像素 */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* 恢复到原位置 */
    }
  }